@charset "UTF-8";
/* CSS Document */

* { 
	padding: 0;
	margin: 0;
}

.copic {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

nav {
  background-color:#B2A4C6;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
padding: 30px;
font-size: 60px;
color: #414141;
margin-left:auto;
	margin-right:auto;
	font-family: 'Teko', sans-serif;
}
h1 {
	text-align: center;
	font-size: 70px;
	font-family: 'Exo', sans-serif;
	color: #414141;
}
h2 {
	text-align: center;
	font-size: 70px;
	font-family: 'Teko', sans-serif;
	color: #414141;
}
.mainimages {
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: space-evenly;
	
}
.art1 {
	text-align:center;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
}
.art2 {
	text-align: center;
	font-family: 'Exo', sans-serif;
	font-size: 30px;
}
.par1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	display:flex;
	text-align: center;
	padding: 30px;
	justify-content: space-evenly;
	color: #414141;
}
.halfmarkers {
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: space-evenly;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
.halfmarkers2 {
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content: space-evenly;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
.buy {
	justify-content: space-evenly;
	display: flex;
}

.contact {
	justify-content: space-evenly;
	display:block;
}
.p1 {
	justify-content: space-evenly;
	display:flex;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
.p2 {
	justify-content: space-evenly;
	display:flex;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
.p3 {
	justify-content: space-evenly;
	display:flex;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
.purple {
	background-color: #B2A4C6;
	display:block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
}
